<div class="content">
  <ul>
    <% @reviews.each do |review| %>
      <% wine = review.wine %>
      <li>
        <%= "#{wine.year} #{wine.producer} #{wine.brand} #{wine.price}" %>
      </li>
    <% end %>
  </ul>
</div>
