body {
  background-color: $background;
  color:  $text; 
  font-family: 'lato';
  @include outer-container;
}

div.header {
  @include span-columns(12);
  @include background(linear-gradient($accent, darken($accent, 20%)));
  padding: 5px 0 5px 0;
  line-height: 48px;
  margin-bottom: 20px;

  .title {
    margin-left: 20px;
    @include span-columns(8);
    @include breakpoint($mobile) {
      @include span-columns(4);
    }
    font-size:  42px;
  }

  a {
    color: darken($background, 10%);
    text-decoration: none;
  }

  nav ul {
    @include breakpoint($mobile) {
      @include span-columns(4);
    }
    list-style-type: none;
    font-size: 24px;
    li {
      margin-right: 20px;
      display: inline-block;
    }
  }
}

div.container {
  margin: 10px;

  div.sidebar {
    @include span-columns(4);
    @include breakpoint($tablet) {
      @include span-columns(4);
    }
    @include breakpoint($mobile) {
      @include span-columns(4);
    }
 
    padding: 5px;
    height: 100%;
    @include background(linear-gradient(darken($accent, 20%), darken($accent, 10%)));
  }

  div.content {
    @include span-columns(8);
    @include breakpoint($tablet) {
      @include span-columns(4);
    }
    @include breakpoint($mobile) {
      @include span-columns(4);
    }
    padding: 5px;
   }

  div.full {
    @include span-columns(12);
    padding: 5px;
  }
}

a {
  color: $accent;
  text-decoration: none;
}

h1 {
  font-size: 42px;
}

p {
  color: $border;
  font-size: 20px;

  a {
    font-weight: bold;
  }
}

ul {
  list-style-type: none;
}

ul.no-indent {
  padding:  0;
}

.tile {
  border: 1px solid lighten($border, 25%);
  padding: 5px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;

  span {
    display: block;
  }

}


