$accent: #690005;
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-size: 14px;
  font-family: $lucida-grande;
  @include outer-container;
}

div.header {
  @include span-columns(12);
  @include background(linear-gradient(#eee, #bbb));
  color: $accent;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 3px solid $accent;
  .title {
    margin-left: 20px;
    @include span-columns(8);
    font-size:  32px;
  }

  nav ul {
    list-style-type: none;
    line-height: 1.5em; 
    float: left; 

    li {
      margin-right: 20px;
      display: inline-block;
    }
  }

  a {
    color: $accent;
    text-decoration: none;
  }
}

div.container {
  margin: 20px;

  div.sidebar {
    @include span-columns(3);
    padding: 5px;
  }

  div.content {
    @include span-columns(9);
    padding: 5px;
  }
}
