body {
  margin: 0;
  padding: 0;
  background-color: $background;
  color:  $text; 
  font-family: 'lato';
  @include outer-container;
}

div.header {
  @include span-columns(12);
  background: $background;
  color: $accent;
  padding: 5px 0 5px 0;
  border-bottom: 2px solid $border;
  line-height: 48px;
  margin-bottom: 20px;

  .title {
    margin-left: 20px;
    @include span-columns(8);
    font-size:  48px;
 }

  nav ul {
    list-style-type: none;
    font-size: 24px;
    li {
      margin-right: 20px;
      display: inline-block;
    }
  }
}

div.container {
  margin: 20px;

  div.sidebar {
    @include span-columns(3);
    padding: 5px;
  }

  div.content {
    @include span-columns(9);
    padding: 5px;
  }
}

a {
  color: $accent;
  text-decoration: none;
}

h1 {
  font-size: 42px;
}

p {
  color: $border;
  font-size: 20px;

  a {
    font-weight: bold;
  }
}