.staff-pick {
  @extend .tile;
  @include span-columns(4 of 8);
  @include omega(2n);
  @include breakpoint($tablet) {
    @include span-columns(3 of 3);
    @include omega();
  }
  @include breakpoint($mobile) {
    @include span-columns(4 of 4);
    @include omega();
  }

  margin-bottom: 25px;

  .year {
    display:    inline;
    font-size:  24px;
  }

  .price {
    display:    inline;
    font-size:  32px;
    float:      right;
    color:      $accent;
  }

  .producer {
    font-size:  28px;
    font-weight: bold;
    color:      lighten($text, 10%);
  }

  .brand {
    font-size:  28px;
    font-style: italic;
  }

  .notes {
    color:      $subtle-text;
    font-size:  20px;
  }

  .label {
    img {
      margin: 10px 0 10px 0;
      display: block;
      height:   250px;
      width:    auto;
      max-width: 100%;      
      margin-left:  auto;
      margin-right: auto;
    }
  }
}

.events {
  color: $background;
  padding: 10px;

  .event {
    margin: 0 30px 30px 0;
  }

  span {
    display: block;
  }

  h1 {
    font-style: italic;
    margin-left: 10px;
  }

  .date {
    font-size: 28px;
  }

  .title {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    color: darken($background, 10%)
  }

  .description {
    font-size: 20px;
   }
}
