<div class="header">
  <div class="banner">
  <span class="title"><%= link_to "Denomy's Wine Emporium", root_path %></span>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Help', help_path %></li>
    </ul>
  </nav>
  </div>
</div>